# This is a GitHub actions workflow for NCEPLIBS-g2.
#
# This builds on the Intel compilers.
#
# Ed Hartnett, 12/22/22, Alex Richert
name: Intel
on:
  push:
    branches:
    - develop
  pull_request:
    branches:
    - develop

# Cancel in-progress workflows when pushing to a branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  Intel:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        compilers: ["oneapi", "classic"]

    steps:

    - name: "Install Intel"
      uses: NOAA-EMC/ci-install-intel-toolkit@develop
      with:
        compiler-setup: ${{ matrix.compilers }}
      
    - name: "Build dependencies"
      uses: NOAA-EMC/ci-build-nceplibs@develop
      with:
        bacio-version: develop
        jasper-version: version-4.0.0
        w3emc-version: develop
        w3emc-cmake-args: -DBUILD_WITH_BUFR=OFF
        key-prefix: Intel-

    - name: checkout
      uses: actions/checkout@v4
      with: 
        path: g2

    - name: build
      run: |
        cd g2
        mkdir build 
        cd build
        cmake -DCMAKE_PREFIX_PATH="$GITHUB_WORKSPACE/nceplibs/jasper;$GITHUB_WORKSPACE/nceplibs/NCEPLIBS-bacio;$GITHUB_WORKSPACE/nceplibs/NCEPLIBS-w3emc" ..
        make -j2
    
    - name: test
      run: |
        cd $GITHUB_WORKSPACE/g2/build
        ctest --verbose
